package components

templ Footer() {
	<footer class="absolute p-1 bottom-0 bg-gray-100 border-gray-800 dark:bg-slate-900 w-full border-t dark:border-slate-500">
		<div class="rounded-lg p-4 text-xs italic dark:text-slate-400 text-center">
			&copy; jpsummer
		</div>
	</footer>
}
